* {
  padding: 0;
  margin: 0;
}

.Explore_btn {
  border: 2px solid #ffc700;
  border-radius: 5px;
  background-color: #fff;
  /* text-decoration: underline;
  text-decoration-color: #0000ff; */
}
.Explore_btn:hover {
  background-color: #ffc700;
}
.headline {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: #ffc700;
}
/* .headline:hover {
  text-decoration: underline;
  text-decoration-color: #ffc700;
} */
.zoom {
  padding: 12px;
  transition: transform 0.2s;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
/* mobile_view style start */
.mobile_view_sound {
  border: 5px solid #0a0a0a;
  width: 113px;
  position: relative;
  top: 21px;
  right: -98px;
  border-radius: 5px;
}
.iframeStyle {
  border: 11px solid #0a0a0a;
  border-radius: 36px;
  margin: 4px 3px 3px 27px;
}
/* .iframeStyle::-webkit-scrollbar {
  width: 0px;
  height: 0px;
} */

/* header section style */
.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: #ffc700;
  /* background-color: #ffc700; */
  color: #000;
}
.nav-link {
  color: #000;
}
/* header section style start */
@media (min-width: 320px) {
  .logo_img {
    height: 34px;
  }
  .headline {
    text-underline-offset: 1px;
  }
}
@media screen and (min-width: 1024px) {
  .hd_w_one {
    width: 75%;
  }
  .hd_w_two {
    width: 50%;
  }
  .logo_img {
    height: 68px;
  }
  .headline {
    text-underline-offset: 10px;
  }
}
/* header section style end */
/* animation style start */
.animate-on-scroll {
  opacity: 0;
}
.fade-from-left {
  opacity: 1;
  transform: translateX(1rem);
  transition-property: all;
  transition-duration: 1000ms;
  transition-timing-function: ease;
}
.fade-from-right {
  opacity: 1;
  transform: translateX(-1rem);
  transition-property: all;
  transition-duration: 1000ms;
  transition-timing-function: ease;
}
/* animation style end */
/* footer style start */
.fotlink a {
  text-decoration: none;
  color: #000;
}
/* footer style end */
/* move images */
.marquee {
  overflow: hidden;
  position: relative;
  animation: MarqueeLeft linear 30s infinite;
}
@keyframes MarqueeLeft {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}
.SerImg {
  padding: 50px;
  /* background-color: green; */
  transition: transform 0.2s; /* Animation */
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.SerImg:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/* move images */
.ftricon {
  height: 30px;
  width: 30px;
}
